#canvas-wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/FoundersGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/FoundersGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

html,
body {
  @apply antialiased;
  @apply relative;
}

* {
  scroll-behavior: smooth;
}
